body{
    text-align: center;
    width: 800px;
    display: block;
    margin: 20px auto;
    background-color: #F4F4F4;
    font-family: "Inter Tight", sans-serif;
}

#head{
    background-color: #6943FF;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#input{
    border: 1px solid white;
    background-color: #6943FF;
    color: white;
    height: 5rem;
    width: 6rem;
    font-size:400%;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

button{
    padding: 10px 25px;
    font-size: large;
    border: none;
    border-radius: 5px;
}

.container{
    background-color: white;
    padding: 5px 0px;
    width: 600px;
    display: block;
    margin: 20px auto;
}

h3{
    color: #5A537B;
}

